input {
  width: 80%;
  display: block;
  margin: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  border-bottom: 1px solid #cdcdcd;
  border-left: none;
  border-right: none;
  border-top: none;
  background: transparent;
  transition: opacity 0.5s;
  padding: 10px;
  -webkit-transition: opacity 0.5s;
}

input:focus {
  outline: none;
}



input:focus::placeholder {
  opacity: 0.5;
}

input::placeholder {
  display: flex;
  text-align: center;
  color: white;
  transition: opacity 0.5s;
}