.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

  }

  .month i {
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    align-content: center;
    border-radius: 50%;
  }

  .month i:hover {
    background-color: #f0f0f0;
  }
  
  .month h1 {

    margin: 10px;
   
  }

  .date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1.5em;
  }

  .date p {
    font-size: 2em;
  }